<!DOCTYPE html>
<html>
  <head>
    <title>Instalium</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if @current_user %>
        <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
        <%= link_to("logout", logout_path, {method: :post}) %>
      <% else %>
        ログインしていません
        <%= link_to("SignUp", new_user_path) %> /
        <%= link_to("Login", login_form_path) %>
      <% end %>
    </header>

    <% if flash[:notice] %>
      <div class="flash-notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
